
.img{
    background-image: url('/bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    
}
.main-txt{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
    font-size: 10vw;
    font-family: 'Acme', sans-serif;
    color: rgb(12, 118, 153);
}
.p-txt{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2vw;
    font-family: 'Acme', sans-serif;
    color:#000;
}
.btn-primary{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 15vw;
    height: 4vw;
    font-size: 1vw;
    
}
